{% extends 'base.twig' %}

{% block before_main %}
  {% include 'partials/layout-zone.twig' with { zone: 'before_main' } %}
{% endblock %}

{% block content %}
<div class="container page-shell page-shell--modern">
  <main class="page-content" id="main-content">
    {% include 'partials/layout-zone.twig' with { zone: 'main' } %}
  </main>
  {% include 'partials/layout-zone.twig' with { zone: 'sidebar' } %}
</div>
{% endblock %}
