<div class="car-lightbox" data-car-lightbox hidden>
  <button type="button" class="car-lightbox__nav car-lightbox__nav--prev" data-car-lightbox-prev aria-label="تصویر قبلی" hidden>
    <span aria-hidden="true">&#10094;</span>
  </button>
  <button type="button" class="car-lightbox__nav car-lightbox__nav--next" data-car-lightbox-next aria-label="تصویر بعدی" hidden>
    <span aria-hidden="true">&#10095;</span>
  </button>
  <button type="button" class="car-lightbox__close" data-car-lightbox-close aria-label="بستن">&times;</button>
  <figure class="car-lightbox__figure">
    <button type="button" class="car-lightbox__hit car-lightbox__hit--prev" data-car-lightbox-prev aria-label="تصویر قبلی" tabindex="-1" hidden></button>
    <img class="car-lightbox__image" src="" alt="" />
    <button type="button" class="car-lightbox__hit car-lightbox__hit--next" data-car-lightbox-next aria-label="تصویر بعدی" tabindex="-1" hidden></button>
  </figure>
</div>
