<div class="ci-toc ci-toc--mobile" data-ci-toc-mobile hidden>
  <button
    type="button"
    class="ci-toc__toggle"
    data-ci-toc-toggle
    aria-expanded="false"
    aria-controls="ci-toc-mobile-panel"
  >
    <span class="ci-toc__toggle-label">در این مطلب</span>
    <span class="ci-toc__toggle-icon" aria-hidden="true"></span>
  </button>
  <div class="ci-toc__panel" id="ci-toc-mobile-panel" data-ci-toc-panel hidden>
    <ol class="ci-toc__list" data-ci-toc-list></ol>
  </div>
</div>
