<div class="{{ placement.visibility_class|default('ak-placement') }}" data-ak-skip-gallery>
  {% include placement.partial|default('ak-sidebar-ads/partial.twig') with { placement: placement } %}
</div>
